<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="piper_l">
<xacro:include filename="$(find agx_arm_description)/agx_arm_urdf/revo2/urdf/revo2_right_hand.urdf"/>
<xacro:include filename="$(find agx_arm_description)/agx_arm_urdf/piper_l/urdf/piper_l_description.urdf"/>
    <link name="flange_link">
        <inertial>
            <origin xyz="1.151691e-03 0.782428e-03 4.798051e-03" rpy="0 0 0"/>
            <mass value="0.04"/>
            <inertia ixx="9.935389e-06" ixy="0.0" ixz="0.0" iyy="10.508003e-06" iyz="0.0" izz="19.652873e-06"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://agx_arm_description/agx_arm_urdf/piper_l/meshes/dae/flange.dae"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://agx_arm_description/agx_arm_urdf/piper_l/meshes/flange.stl"/>
            </geometry>
        </collision>
    </link>
    <joint name="flange_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="link6"/>
        <child link="flange_link"/>
    </joint>
    <joint name="hand_base_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0105" rpy="0 0 0"/>
        <parent link="flange_link"/>
        <child link="right_base_link"/>
        <axis xyz="0 0 0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>
</robot>
